.git
.github
.env
.env.*.php
.env.*.local
node_modules
npm-debug.log
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.env.backup
.env.production.backup
/vendor
/storage
/bootstrap/cache
composer.lock
.phpunit.result.cache
.pest.result.cache
