<?php

declare(strict_types=1);

return [
    'paths' => [
        'app',
        'bootstrap',
        'config',
        'database',
        'routes',
        'tests',
    ],
    'exclude' => [
        'vendor',
        'storage',
        'bootstrap/cache',
        'node_modules',
    ],
    'baseline' => null,
    'level' => 5, // 0-9, where 9 is strictest
    'checkMissingIterableValueType' => false,
    'checkGenericClassInNonGenericObjectType' => false,
    'reportUnmatchedIgnoredErrors' => false,
    'checkInternalClassCasing' => false,
];
