<?php

declare(strict_types=1);

return \Larastan\Larastan\Configuration::make()
    ->withPaths([
        'app',
        'bootstrap',
        'config',
        'database/factories',
        'database/migrations',
        'database/seeders',
        'routes',
        'tests',
    ])
    ->withExcludePaths([
        'vendor',
        'storage',
        'bootstrap/cache',
        'node_modules',
    ])
    ->withLevel(5)
    ->withBaseline('phpstan-baseline.neon')
    ->toArray();
