parameters:
	ignoreErrors:
		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: app/Http/Controllers/AnalyzeController.php

		-
			message: '#^Parameter \#3 \$requirements of class App\\Dto\\AnalyzeResultDto constructor expects array\<int, string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/AnalyzeApplicationService.php

		-
			message: '#^Parameter \#4 \$experiences of class App\\Dto\\AnalyzeResultDto constructor expects array\<int, string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/AnalyzeApplicationService.php

		-
			message: '#^Parameter \#5 \$matches of class App\\Dto\\AnalyzeResultDto constructor expects array\<int, array\{requirement\: string, experience\: string\}\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/AnalyzeApplicationService.php

		-
			message: '#^Parameter \#6 \$gaps of class App\\Dto\\AnalyzeResultDto constructor expects array\<int, string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/AnalyzeApplicationService.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/app.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/cache.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/database.php

		-
			message: '#^Parameter \#1 \$string of function rtrim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/filesystems.php

		-
			message: '#^Binary operation "\." between ''tls\://'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: config/logging.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: config/logging.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/logging.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/mail.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: config/queue.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: config/session.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: config/session.php
